# Gitignore file

# Ignore the fix script
fix_footer.sh

# Other common files to ignore
.DS_Store fix_images.sh

# Ignore the Gravatar fix script
fix_gravatar.sh

# Ignore HTTP image fix script
fix_http_images.sh

# Ignore backup files created by the script
*.bak
*.tmp

# Ignore README
README.md
